$default-color: #000000;
$nav-bg-color: #ffffff;
//layout
$outer-padding-side: rem(50);
$nav-header-height: rem(100);
$nav-quickmenu-height: rem(90);
$nav-shadow: rem(0) rem(10) rem(10) rgba(0, 0, 0, .15);
$nav-border: #c5c5c5;
$bottom-menu-bar-height: rem(140);
$pulldown-menu-header-height: rem(100);
// animate
$default-transition-duration: 0.5s;
//colors
$primary-color: #df0000;
$default-font-color: #111111;
$default-font-gray: #333333;
$font-gray-lighten: #999999;
$default-border-gray: #d5d5d5;
$default-bg-gray: #f5f5f5;
$default-bg-gray-lighten: #f9f9f9;

// fontsize
$default-message: rem(26);
$small-message: rem(22);

$toggle-radio-checked-color: #666666;